.logo {
    width: 20%;
    text-align: left;
    float:left;
    display:inline;
}
.header {
    width: 80%;
    font-size:45pt;
    font-family:Arial;
    font-weight:700;
    text-align: center;
    color: black;
    padding-bottom: 35px;
    padding-top:20px;
    float: left;
    display: inline;
}
.shipping_name {
    /*padding-top: 70px;*/
    padding-left: 15px;
    width: 45%;
    text-align: left;
    font-size: 14pt;
/*    display: inline;*/
}
.shipping_address {
    /*    padding-top: 65px;*/
    padding-left: 15px;
    width: 45%;
    text-align: left;
    font-size: 14pt;
/*    display: inline;*/
}
.shipping_suburb {
    /*padding-top: 50px;*/
    padding-left: 15px;
    width: 45%;
    text-align: left;
    font-size: 14pt;
}
.shipping_city {
    /*padding-top: 50px;*/
    padding-left: 15px;
    width: 45%;
    text-align: left;
    font-size: 14pt;
}
.shipping_phone {
    /*padding-top: 50px;*/
    padding-left: 15px;
    width: 45%;
    text-align: left;
    font-size: 14pt;
}
.shipping_note {
    /*padding-top: 50px;*/
    padding-left: 15px;
    width: 45%;
    text-align: left;
    font-size: 14pt;
}
.shipping_commitdate {
    width: 40%;
    text-align: left;
    float: right;
    /*display: inline;*/
}
.shipping_invoicennum {
    width: 40%;
    text-align: left;
    float: right;
    display: inline;
}
.shipping_pobox {
    width: 40%;
    text-align: left;
    float: right;
    display: inline;
}
.shipping_gst {
    width: 40%;
    text-align: left;
    float: right;
    display: inline;
}
.subtotal {
    padding-top: 50px;
    padding-left: 400px;
    width: 20%;
    font-size: 18px;
    text-align: left;
    float: right;
}

.tax {
    padding-top: 10px;
    padding-left: 400px;
    width: 20%;
    font-size: 18px;
    text-align: left;
    float: right;
}
.freight {
    padding-top: 10px;
    padding-left: 400px;
    width: 20%;
    font-size: 18px;
    text-align: left;
    float: right;
}
.total {
    padding-top: 10px;
    padding-left: 400px;
    width: 20%;
    font-size: 18px;
    text-align: left;
    float: right;
}

.terms {
    position: fixed;
    bottom: 5px;
    padding-left: 16px;
    width: 90%;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    float: left;
}


table {
    width: 95%;
    align-content: center;
    border-collapse: collapse;
}
 th {
    border: none;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
td {
    border: none;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

/*table th {
    background-color: darkorange;
    border:none;
    color: white;
}*/
